<h2>Nuevo workout</h2>



<form class="workout" method="POST" action="/workouts/new">

  <div class="row">
    <label for="date">Fecha y hora:</label>
    <input class="mdc-text-field__input" type="datetime-local" name="date" id="date">
  </div>

  <div class="row">
    <label for="address"><strong>Lugar del entrenamiento</strong></label>
    <input class="mdc-text-field__input" type="text" name="address" id="address">
  </div>
  <div class="row">
    <label for="client"><strong>Cliente:</strong></label>
    <input class="mdc-text-field__input" type="text" name="client" id="client">
  </div>
  <div class="phases">
    <!-- Calentamiento -->
    <section class="warmup">
      <label for="warmup">Calentamiento:</label>
      <input type="hidden" name="phase-name" value="Calentamiento">
      <textarea class="mdc-text-field__input" type="text" name="warmup"></textarea>
    </section>
    <!-- Principal -->
    <section class="main">
      <div class="col-md-12">
        <label>Parte principal:</label>
        <input type="hidden" name="phase-name" value="Principal">
        <a id="add-block">Añadir Bloque</a>
      </div>
      <!--       <section class="block">


      </section> -->

    </section>
    <!-- Estiramientos -->
    <section class="stretch">
      <label for="stretch">Estiramientos:</label>
      <input type="hidden" name="phase-name" value="Estiramiento">
      <textarea class="mdc-text-field__input" type="text" name="stretch"></textarea>
    </section>
  </div>

  <button class="foo-button mdc-button" type="submit" id="add-new">Añadir</button>
</form>



<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="../../../javascripts/apiHandler.js"></script>
<script type="text/javascript" src="../../../javascripts/workout-creator.js"></script>


{{!--  <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_9UjX2_EU-YgI1M_d9DQrmeYAXKKlG-s">
    </script> --}}


{{!-- <script type="text/javascript" src="/javascripts/locatePlaces.js"></script> --}}