

<div class="container pt30">
<h2>Nuevo workout</h2>
   
<form class="workout pt30" method="POST" action="">
  <h3>Información general</h3>
  <div class="row">
    <label for="date">Fecha y hora:</label>
    <input class="" type="datetime-local" name="date" id="date" workout="save">
  </div>

  <div class="col-md-12">
    {{!-- <label for="address"><strong>Lugar del entrenamiento</strong></label>
    <input class="mdc-text-field__input" type="text" name="address" id="address" workout="save"> --}}
  <div id='geocoder' class='geocoder'></div>
  <div id='map'></div>
  </div>
  <div class="col-md-12">
    <label for="client"><strong>Cliente:</strong></label>
    <input class="mdc-text-field__input" type="text" name="client" id="client" workout="save">
  </div>
  <div class="col-md-12">
    <label class="w40" for="type">Tipo </label>
    <select name="type" workout="save">
      <option value="Presencial"> Presencial</option>
      <option value="Online"> Online</option>
    </select>
</div>
  <div class="phases col-md-12 pt30">
    <!-- Calentamiento -->
    <h3>Fases del entrenamiento</h3>
    <section class="warmup">
      <label for="warmup">Calentamiento:</label>
      <input type="hidden" name="phase-name" value="Calentamiento" workout="save">
      <textarea class="mdc-text-field__input" type="text" name="warmup" workout="save"></textarea>
    </section>
    <!-- Principal -->
    <section class="main">
          <input type="hidden" name="phase-name" value="Principal" workout="save">
          <p class="error" id="error"></p>
          <label class="w40">Parte principal:</label>
          <a class="chip-button w40"id="add-block">Añadir Bloque</a>

      <!-- <section class="block">
      </section> -->

    </section>
    <!-- Estiramientos -->
    <section class="stretch">
      <label for="stretch">Estiramientos:</label>
      <input type="hidden" name="phase-name" value="Estiramiento" workout="save">
      <textarea class="mdc-text-field__input" type="text" name="stretch" workout="save"></textarea>
    </section>
  </div>

  <a class="save"  id="add-workout">Añadir</a>
</form>


</div>

{{!-- MAPBOX --}}
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.3.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.3.0/mapbox-gl-geocoder.css' type='text/css' />
{{!-- AXIOS --}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{{!-- SCRIPT PERSONALIZADOS --}}
<script type="text/javascript" src="../../../javascripts/geocoder.js"></script>
<script type="text/javascript" src="../../../javascripts/apiHandler.js"></script>
<script type="text/javascript" src="../../../javascripts/workout-creator.js"></script>


{{!--  <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_9UjX2_EU-YgI1M_d9DQrmeYAXKKlG-s">
    </script> --}}


{{!-- <script type="text/javascript" src="/javascripts/locatePlaces.js"></script> --}}