<h2>Add new workout</h2>

<form>
  <div class="form-group row">
  <label for="date">Date:</label>
    <input type="datetime-local" name="date" id="date"><br>
  </div>
  <div class="form-group row">
  <label for="address"><strong>Lugar del entrenamiento</strong></label>
      <input type="text" name="address" id="address">
  </div>
  <div class="form-group row">
  <label for="client"><strong>Cliente:</strong></label>
      <input type="text" name="client" id="address">
  </div>

 <div class="form-group row">
      <label for="warmup">Calentamiento:</label>
        <input type="hidden" name="phase-name" value="Calentamiento">
        <textarea type="text" name="warmup-description"></textarea>
    </div>

  <div class="form-group row">
    <p>Parte principal:</p>
    <input type="hidden" name="phase-name" value="Principal">
    <strong>Bloque</strong>
      <label for="order">Orden </label>
        <input type="number" name="order">
      <label for="order">Description </label>
        <textarea type="text" name="description"></textarea>
       <label for="mode">Mode </label>
        <select name="mode">
          <option value="Rondas"> Rondas</option>
          <option value="Tiempo"> Tiempo</option>
        </select>
        {{!-- <input type="text" value=""> Falta cuantas rondas o cuanto tiempo--}} 
        <label for="type">Tipo </label>
        <select name="type">
          <option value="Presencial"> Presencial</option>
          <option value="Online"> Online</option>
        </select>

        <label for="exercises">¿Qué ejercicios quieres añadir?</label>
        <input type="text" name="search-exercise" id="search">
        <div id="wger-results">
          <p id="exercise-name"></p>
          <a id="exercise-detail" href="">Ver detalle</a>
        </div>
  
    </div>


  <button type="submit" id="add-new">Añadir</button>
</form>




 <script type="text/javascript" src="javascript/apiHandler.js"></script>
  <script type="text/javascript" src="javascript/workout-creator.js"></script>


{{!--  <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_9UjX2_EU-YgI1M_d9DQrmeYAXKKlG-s">
    </script> --}}

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{{!-- <script type="text/javascript" src="/javascripts/locatePlaces.js"></script> --}}