<footer class="footer">
   <ul >
      <li><a href="/workouts/" state="active">
      {{!-- <img class="icon"src="../../../images/footer/workouts.svg"> --}}
        <svg class="icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="dumbbell" class="svg-inline--fa fa-dumbbell fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="black" d="M104 96H56c-13.3 0-24 10.7-24 24v104H8c-4.4 0-8 3.6-8 8v48c0 4.4 3.6 8 8 8h24v104c0 13.3 10.7 24 24 24h48c13.3 0 24-10.7 24-24V120c0-13.3-10.7-24-24-24zm528 128h-24V120c0-13.3-10.7-24-24-24h-48c-13.3 0-24 10.7-24 24v272c0 13.3 10.7 24 24 24h48c13.3 0 24-10.7 24-24V288h24c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8zM456 32h-48c-13.3 0-24 10.7-24 24v168H256V56c0-13.3-10.7-24-24-24h-48c-13.3 0-24 10.7-24 24v400c0 13.3 10.7 24 24 24h48c13.3 0 24-10.7 24-24V288h128v168c0 13.3 10.7 24 24 24h48c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24z"></path></svg>
        Workouts</li></a>
      <li><a href="/">{{!-- <img src="../../../images/footer/wod.svg">  --}}
 <svg class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
    <path id="ktl-bg" style="fill:black;" d="M394.794,202.573L410.487,128h-54.938l-6.733,40.38c-57.984-31.087-127.667-31.087-185.651,0
 L156.432,128h-54.895l15.693,74.573c-76.646,76.646-76.638,200.917,0.009,277.564c8.636,8.636,18.057,16.444,28.151,23.33h221.201
 c89.549-61.082,112.614-183.194,51.533-272.734C411.238,220.638,403.43,211.209,394.794,202.573z" />

    <path style="fill:black;" d="M140.577,510.515c1.417,0.964,3.098,1.485,4.813,1.485h221.201c1.715,0,3.396-0.521,4.813-1.485
 c93.431-63.753,117.487-191.172,53.734-284.604c-6.298-9.233-13.338-17.929-21.06-26.01l18.432-87.535
 c10.615-50.33-21.581-99.746-71.91-110.362C344.277,0.674,337.825,0,331.366,0h-150.75c-51.439,0-93.141,41.702-93.141,93.141
 c0,6.451,0.666,12.885,1.997,19.191l18.432,87.535c-78.123,81.801-75.136,211.439,6.665,289.553
 c8.081,7.714,16.777,14.763,26.01,21.06L140.577,510.515L140.577,510.515z M121.54,45.227c14.413-17.843,36.139-28.203,59.076-28.16
 h150.75c42.018,0,76.075,34.057,76.075,76.075c0,5.265-0.546,10.522-1.63,15.676l-2.244,10.65h-37.948l3.098-18.586
 c3.874-23.245-11.827-45.227-35.072-49.101c-2.321-0.384-4.668-0.58-7.014-0.58H185.352c-23.561,0-42.667,19.106-42.667,42.667
 c0,2.347,0.196,4.693,0.58,7.014l3.098,18.586h-37.948l-2.244-10.65C101.401,86.383,107.058,63.002,121.54,45.227z M160.102,98.133
 c-2.355-13.943,7.031-27.153,20.975-29.508c1.408-0.239,2.842-0.358,4.275-0.358H326.63c14.14,0,25.6,11.46,25.6,25.6
 c0,1.408-0.119,2.816-0.35,4.207l-9.583,57.506c-54.827-24.977-117.786-24.977-172.612,0L160.102,98.133z M125.542,200.875
 l-13.534-64.341h37.197l5.547,33.28c0.691,4.113,4.25,7.125,8.414,7.125c1.408,0,2.799-0.35,4.045-1.015
 c55.45-29.73,122.112-29.73,177.562,0c4.147,2.236,9.327,0.674,11.554-3.473c0.444-0.819,0.751-1.715,0.905-2.637l5.547-33.28
 h37.197l-13.534,64.282c-0.589,2.825,0.282,5.751,2.321,7.791c73.301,73.327,73.276,192.196-0.051,265.498
 c-7.646,7.646-15.94,14.618-24.789,20.83H148.027c-84.83-59.605-105.284-176.7-45.67-261.538
 c6.221-8.849,13.184-17.143,20.83-24.789c2.057-2.031,2.935-4.966,2.355-7.791V200.875z" />
        </svg>
      WOD</li></a>
      <li><a href="/profile">{{!-- <img class="icon" src="../../../images/footer/profile.svg"> --}}
      <svg class="icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user" class="svg-inline--fa fa-user fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="black" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"></path></svg>
      Perfil</li></a>
   </ul>
</footer>

<script>
  //window.onload=()=>{
  const iconsLi = document.querySelectorAll('footer li a')
  const icons = document.querySelectorAll('footer svg path')

  //console.log(window.location.pathname.includes('/workouts'))
  if (window.location.pathname.includes('/workouts')){
   // console.log(icons)
    icons[0].attributes[0].nodeValue='#0f6f92'
    iconsLi[0].style.color='#0f6f92'
    iconsLi[0].style.fontWeight='800'
  }
  else  if (window.location.pathname.includes('/profile')){
    //console.log(icons)
    icons[3].attributes[0].nodeValue='#0f6f92'
    iconsLi[2].style.color='#0f6f92'
    iconsLi[2].style.fontWeight='800'
  }
 else  if (window.location.pathname.includes('/')){
    icons[1].attributes[1].value= 'fill:#0f6f92'
    icons[2].style.fill = '#0f6f92'
    iconsLi[1].style.color='#0f6f92'
    iconsLi[1].style.fontWeight='800'
  }
  /*iconsLi[0].onclick= () =>{
    icons[0].classList.add('active-icon')
  }*/



  //}

</script>