<h2>Upload a profile photo</h2>


<form action="auth/add-photo" method="post" enctype="multipart/form-data">

  <div>
    {{!-- <label for="photo">Choose photo to upload</label> --}}
    <input type="file" name="photo">
  </div>
  <br>
  <input type="submit" value="SAVE">
</form>