{{#if user}}
<p>Hola {{user.name}}!</p>
<br>
{{#if user.isAdmin}}
<a href="/showAllTrainers">Mis trainers</a>

{{/if}}
<div id="calendar"></div>


<br><br>
<a href="/profile">Mi perfil</a>
<script src="/javascripts/script.js"></script>
{{/if}}

{{!-- <div id='calendar'></div> --}}



<script type="text/javascript" src="../../../javascripts/index.js"></script>