<h2>{{title}}</h2>
<p>Welcome to {{title}}</p>

{{#if user}}
<p>Hola {{user.name}}!</p>
<br>
{{#if user.isAdmin}}
<a href="/showAllTrainers">Mis trainers</a>

{{/if}}
<br><br>
<a href="/profile">Mi perfil</a>
{{/if}}