<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>


  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-reboot.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-grid.min.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,800|Montserrat:200,300,400,600,800&display=swap"
    rel="stylesheet">

  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />

  {{!-- estilos y scripts del calendario --}}

  <link href='/javascripts/fullcalendar-4.1.0/packages/core/main.css' rel='stylesheet' />
  <link href='/javascripts/fullcalendar-4.1.0/packages/daygrid/main.css' rel='stylesheet' />
  {{!-- <script src='/javascripts/rrule/main.js'></script> --}}
  <script src='/javascripts/fullcalendar-4.1.0/packages/core/main.js'></script>
  <script src='/javascripts/fullcalendar-4.1.0/packages/rrule/main.js'></script>
  <script src='/javascripts/fullcalendar-4.1.0/packages/daygrid/main.js'></script>
  <script src='/javascripts/fullcalendar-4.1.0/packages/timegrid/main.js'></script>


  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav>
    <a href="/">Home</a>
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
    <a href="/auth/logout">Logout</a>
  </nav>

  {{{body}}}


  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>