<h1>Hola {{user.name}}</h1>

<p>Estás en tu perfil</p>

<figure>
  <img src="" alt="">
</figure>

<p>Nombre: {{user.name}}</p>
<br><br>
<p>Teléfono: {{user.phone}}</p>
<br><br>
<p>Email: {{user.email}}</p>