body {
  font: 14px 'Montserrat', 'Open Sans', Arial, sans-serif;
  padding-bottom: 150px; }

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none; }

:root {
  --primary: #0f6f92;
  --primary-transparency: rgba(15, 111, 146, 0.37);
  --secondary: #3ab6e2;
  --secondary-transparency: rgba(58, 181, 226, 0.356); }

h2 {
  color: var(--secondary);
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 800;
  font-size: 23px;
  line-height: 23px; }

li {
  list-style-type: none; }

.baseline {
  align-items: baseline; }

.baseline p {
  margin: 0; }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: white; }

.primary-text {
  color: var(--primary);
  font-weight: 500;
  font-size: 1.1em; }

.d-flex {
  display: flex;
  align-items: center; }

.justify-around {
  justify-content: space-around; }

.justify-center {
  justify-content: center; }

input::placeholder {
  color: white; }

a {
  color: black; }

.w40 {
  width: 40%; }

.pt30 {
  padding-top: 30px; }

.hide {
  opacity: 0;
  z-index: -10; }

/* index */
section.auth {
  display: block;
  z-index: 10;
  background: linear-gradient(148.87deg, #0f6f92 -13.89%, rgba(58, 182, 226, 0.6) 111.05%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 100vh;
  width: 100vw;
  color: white;
  justify-content: center;
  align-items: center; }

.auth figure {
  text-align: center;
  position: absolute;
  top: 50px; }

.auth input::placeholder {
  color: white;
  font-weight: 100;
  font-family: 'Montserrat', 'Open Sans', Arial, sans-serif; }

.auth .logo {
  /* position: absolute;
  top: 60px; */
  margin-top: 60px; }

.auth input {
  color: white;
  font-weight: 400;
  font-family: 'Montserrat', 'Open Sans', Arial, sans-serif;
  border-bottom: 1px solid white;
  width: 80%;
  padding-top: 20px;
  margin-bottom: 10px; }

.auth form {
  text-align: center; }

.chip-button.white {
  display: block;
  background-color: white;
  color: var(--secondary) !important;
  text-align: center; }

.auth .signup {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  flex-direction: column; }

/* New workout */
form .row,
form section {
  padding: 10px 30px;
  padding-bottom: 60px; }

.workout {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 125px; }

label {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-top: 10px; }

input,
textarea,
select {
  width: 100%;
  background: transparent;
  border-bottom: 1px solid var(--primary);
  border-top: none;
  border-right: none;
  border-left: none;
  box-shadow: none;
  text-align: center;
  font-family: 'Open Sans', Arial, sans-serif; }

select {
  width: 40%; }

input:focus,
textarea:focus {
  color: #000;
  background-color: var(--secondary-transparency);
  border-bottom: 3px solid var(--primary);
  font-weight: bolder;
  box-shadow: none;
  font-family: 'Open Sans', Arial, sans-serif; }

input.search-exercise {
  background: rgba(196, 196, 196, 0.18);
  border-radius: 10px; }

.chip-button,
.save.chip-button {
  background: var(--secondary);
  border-radius: 32px;
  color: white !important;
  width: 109px;
  height: 30px;
  padding: 5px 20px;
  font-weight: 400; }

input[type=number] {
  width: 40%; }

input[type=number]::-webkit-inner-spin-button {
  opacity: 1; }

/* .main a {
  padding: 10px 30px;
  margin-top: 42px;
  background: var(--primary);
  color: white;
} */
.block {
  padding: 15px 0px; }

.save {
  background: var(--primary);
  color: white !important;
  border-radius: 32px;
  margin-top: 20px;
  text-align: center;
  padding: 15px 105px;
  margin: 20px auto; }

.hide {
  display: none; }

.reveal {
  display: inline-block;
  color: white;
  font-weight: bold;
  padding: 8px 20px;
  background-color: red; }

.exercises a.chip-button {
  margin-top: 20px; }

.exercises .added {
  color: var(--secondary);
  font-weight: 600;
  list-style-type: none; }

.results {
  padding-left: 10px;
  position: absolute;
  z-index: 39;
  color: var(--primary);
  border-left: 1px solid var(--secondary);
  border-right: 1px solid var(--secondary);
  width: 80%;
  background-color: white; }
  .results li {
    display: inline-block;
    width: 100%; }

#map {
  height: 200px;
  margin-top: 20px; }

#workouts {
  height: 100vh;
  width: 100%;
  position: absolute; }

#workout {
  padding-top: 30px;
  height: 100vh;
  width: 100%; }

/* .suggestions-wrapper a {
  color:
} */
.menu {
  padding: 30px;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--secondary);
  z-index: -35;
  opacity: 0;
  color: white; }

.menu ul {
  padding-top: 50px;
  display: flex;
  list-style: none; }

.menu li {
  border-bottom: 1px solid; }

.menu a {
  color: white;
  text-decoration: none;
  /* display: flex;
  flex-wrap: wrap; */
  /* border-bottom: 1px solid white; */ }

.menu-title {
  text-transform: uppercase;
  /* font-weight: 800; */
  font-size: 1.3rem; }

.menu section {
  display: flex;
  justify-content: space-between; }

ul.selector {
  justify-content: space-evenly; }

.selector li.active {
  border-bottom: 2px solid var(--primary); }

#list.hide {
  opacity: 0;
  z-index: -10;
  transition: all 0.5; }

#list {
  opacity: 1;
  z-index: 10;
  width: 100%;
  /* height: 100vh; */
  position: absolute;
  /* align-items: center; */
  top: 145px;
  padding: 0 30px; }

#list .d-flex {
  align-items: baseline; }

#list .small-text {
  font-size: 13px;
  margin-bottom: 0; }

#list .workout-partial {
  width: 100%;
  padding: 10px 3px;
  box-shadow: 3px 2px 5px 3px #f3f0f0;
  border-radius: 9px;
  margin-bottom: 10px; }

#list header {
  display: flex;
  flex-direction: column;
  padding-left: 10px; }

#list header p {
  padding-left: 20px; }

#list header span {
  color: grey;
  font-size: 0.9em; }

.profile span {
  font-weight: 800; }

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%; }

.profile .d-flex {
  justify-content: space-between;
  flex-direction: column; }

.marker {
  background-image: url("./../images/marker.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  cursor: pointer; }

.mapboxgl-popup {
  max-width: 200px; }

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif; }

footer {
  background: white;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 100; }
  footer ul {
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    align-items: baseline;
    list-style-type: none;
    margin: 0 20px 20px 20px; }
    footer ul .nav li {
      display: inline-block;
      padding: 3px 15px;
      text-align: center; }
  footer li {
    text-align: center; }
  footer svg {
    display: block;
    width: 100%;
    margin: 10px auto;
    z-index: 10;
    fill: black; }

/* footer ul.nav li {
  display: inline-block;
  padding: 3px 15px;
  text-align: center;
}

footer svg {
  display: block;
  width: 100%;
  //background-color: white;
  margin: 10px auto;
  z-index: 10;
  fill: black;
} */
.icon {
  width: 25px;
  height: 25px; }

ul.nav {
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  margin-left: 0; }

/* Workout detail */
.detail.blocks {
  padding: 30px;
  flex-wrap: wrap;
  padding-bottom: 150px;
  flex-direction: column; }
  .detail.blocks article {
    width: 100%; }

ul.block {
  padding-left: 0;
  list-style-type: none; }

.small.icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  fill: var(--primary); }

.block {
  text-align: center; }
  .block p {
    display: inline; }
  .block li {
    display: flex;
    justify-content: space-between; }
  .block article {
    padding-bottom: 30px; }

/* Exercise detail */
.equipment li {
  padding: 0 10px; }

.equipment .chip-button {
  text-align: center;
  width: auto;
  height: auto; }

/* Profile */
.auth.profile {
  background: white;
  color: var(--primary);
  padding: 150px 10px 30px 40px; }

.auth.profile input::placeholder {
  color: var(--primary); }

.auth.profile input {
  color: var(--primary);
  border-bottom: 1px solid var(--primary); }

section.profile {
  padding: 150px 10px 30px 40px; }

section.trainers ul {
  justify-content: start;
  text-align: center; }

/* section.trainers .header-trainers {
  justify-content: start;
} */
li.trainer {
  align-items: baseline;
  justify-content: space-between; }

li.trainer a {
  width: 10%; }

li.trainer p {
  width: 40%;
  text-align: center; }

section.trainers .header-trainers li {
  list-style-type: none;
  width: 40%;
  font-weight: 800; }

.list {
  opacity: 1;
  width: 100%;
  padding: 0 30px; }
  .list .workout-partial {
    width: 100%;
    padding: 10px 3px;
    box-shadow: 3px 2px 5px 3px #f3f0f0;
    border-radius: 9px;
    margin-bottom: 10px; }

#calendar {
  max-width: 900px;
  margin: 40px auto; }

/*# sourceMappingURL=style.css.map */